.home{align-items: center;
      height: 80vh;}

.home h2{font-size: 45px;
         font-weight: 450;}

.home p{font-size: 25px;
        font-weight: 450;}


#p1{max-width: 600px;
    color: rgb(235, 235, 235);	}

body{
	background: #081b29;
	background-repeat: no-repeat;
	background-attachment: fixed;}

h2,h4{color: white;}
#hh3{color: white;}


#p2{color: white;}
#p3{color: white;}

button:hover{background-color: #488aa4;}
.nav-item:hover {background-color: #488aa4;}

#pdf-button:hover{background-color:#081b29;
	color: #00abf0;
	border-color: #00abf0;}

#pdf-button{
	background-color: #00abf0;
	color: black;
	border-radius:8px;
	padding: 10px;
	font-size: 18px;
	width: 150px;}
	 /* "cursor: pointer;" this property in CSS changes the mouse cursor to a hand icon when it hovers over an element, indicating that the element is clickable.*/    


#Projects{ background-image: url(projects.jpg);
           background-repeat: no-repeat;
		   background-attachment: fixed;
	       background-position: center;
	       background-size: cover;}

#sk{background: linear-gradient(to bottom right, black, #081b29);
    padding-top: 20px;
    padding-bottom: 20px;}

#co{background-image: url(00.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 500px;
    border-radius: 15px;}



