#p1{background-image: url(00.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size: cover;

    border-style:solid;
	border-width: 5px;
	border-color: rgb(8, 8, 6);
	border-radius: 10px;
	padding: 5px;
    color: rgb(235, 235, 235);
	background-color: black;
	width: 20cm;
}

body{
	background: linear-gradient(to bottom right, #2C3E50, #34495E, #95A5A6);
	background-repeat: no-repeat;
	background-attachment: fixed;   
}

h2,h4{color: white;}
#hh3{color: white;}

#p2{color: white;}
#sk{background-color: rgb(0, 0, 0);
    border-style: dotted ;
    border-color: #95A5A6;
    padding-top: 50px;
    padding-bottom: 25px;}   

#p3{color: white;}

button:hover{background-color: #488aa4;}
.nav-item:hover {background-color: #488aa4;}

#pdf-button{
	background-color: rgb(22, 22, 31);
	color: white;
	border-radius:5px;
	padding: 10px;
	 /* "cursor: pointer;" this property in CSS changes the mouse cursor to a hand icon when it hovers over an element, indicating that the element is clickable.*/    
}
#pdf-button:hover{background-color:#488aa4;}

#cv{ margin-top:30px;}


#Projects{ background-image: url(projects.jpg);
           background-repeat: no-repeat;
		   background-attachment: fixed;
	       background-position: center;
	       background-size: cover;}



